// mixins
@mixin box-shadow{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

@mixin hover-active{
	&:hover{
		cursor:pointer;
		opacity: .8;
	}

	&:active{
		opacity: 1;
	}
}

@mixin clearfix{
	&:before,
	&:after{
		content: "";
		display: table;
	}

	&:after{
		clear: both;
	}
}

@mixin button($bg_color, $bg_color_hover){
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	border: none;
	color: #ffffff;
	font-size: 18px;
	background: $bg_color;
	padding: 10px 20px 10px 20px;
	text-decoration: none;

	&:hover {
	  background: $bg_color_hover;
	  text-decoration: none;
	}
}

@mixin radius{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

@mixin border-radius($r){
	border-radius: $r;
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
}

@mixin fontsize($size:1.6, $line: $size * 1.5){
	font-size:   ($size * 10) + px;
	line-height: ($line * 10) + px;
	font-size:   $size + rem;
	line-height: $line + rem;
}